.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;  
    align-self: end;
}

@media screen and (max-width: 730px) {
    .footer__copyright {
        align-self: auto;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
    }
}