.cover {
    margin: 0 48px 0px;
    padding-bottom: 92px;
    max-width: 100%;
    min-height: 57.812vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding-bottom: 88px;
    }
}