.cover__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    color: white;
    text-decoration: none;
    min-height: /*57.813vw;*/ 740px;
    position: relative;
    background-image: /*url(/russian-travel/images/cover-trains.jpg);*/ url(../../../images/cover-trains.jpg);
    background-size: cover;
}    

.cover__overlay::before {
    content: '';
    display: block;
    background-color: rgba(42, 44, 47, 1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s linear;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: /*62.5vw;*/ 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}